.main-left {
    background-color: $white;
    position: relative;
    .main-left__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .left-content__wrapper {
            padding: $global-padding;
        }
    }
}