.small-nav {
    padding: $global-padding;
    position: relative;
    z-index: 10;
    .small-nav__link {
        margin-right: $global-margin*2;
        display: inline-block;
        color: $medium-gray;
        cursor: pointer;
        // font-size: 1rem;
    }
    .decor-line{
        position: absolute;
        left: $global-padding;
        top: 2rem;
        margin-top: $global-margin*2;
        height: 4px;
        width: 100px;
        background-color: $dark-gray;
    }
    @include breakpoint(medium down){
        &.small-footer{
            padding-left: 0;
        }
     }
}