.topbar {
    position: relative;
    z-index: 11;
    .logo {
        height: 35px;
        width: auto;
        position: fixed;
        margin: 1rem;
        @include breakpoint(medium down){
           margin-left: 0;
        }
    }

}