.app__wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.body-background-left,
.body-background-right {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: $white;
    z-index: 0;
}

.body-background-right {
    left: unset;
    right: 0;
    background-color: black;
}

.page__wrapper {
    width: 100%;
    height: 100%;
    padding: $global-padding;
    .page {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}