.contact{
    .contact__wrapper{
        display: flex;
        .contact-left{
            flex: 1;
        }
        .contact-right{
            flex: 1;
            .contact-icons{
                display: flex;
                justify-content: space-around;
                align-items: center;
                .icon__wrapper{
                    display: flex;
                    flex: 1;
                    flex-direction: column;
                    align-items: center;
                    margin: $global-margin;
                    margin-top: $global-margin * 2;
                    svg{
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                    span{
                        margin-top: 0.5rem;
                        color: $medium-gray;
                    }
                }
            }
            .form__wrapper{
                max-width: 400px;
                margin: $global-margin auto;
                form{
                    .input{
                        width: 100%;
                        position: relative;
                        input, textarea{
                            width: 100%;
                            padding: $global-padding;
                            margin: $global-margin 0;
                            border: none;
                            background: $gray;
                            text-indent: 2rem;
                        }
                        svg{
                            position: absolute;
                            top: 50%;
                            left: 1rem;
                            transform: translateY(-50%);
                        }
                        &.textarea{
                            svg{
                                top: 2rem;
                                transform: none;
                            }
                        }
                    }
                    .rect-button{
                        margin: $global-margin 0;
                        margin-left: auto;
                        float: right;
                    }
                }
            }
        }
        @include breakpoint(medium down){
            flex-direction: column;
            .contact-right{
                .contact-icons{
                    display: block;
                    .icon__wrapper{
                        margin: $global-margin 0;
                    }
                }
            }
        }
    }
}