.page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: auto;
    .heading__wrapper{

        .page__heading{
            margin-top: $global-margin*2;
            padding: $global-padding;
            @include breakpoint(xlarge up){
                font-size: 4rem;
            }
            @include breakpoint(medium down){
                padding-left: 0;
            }

        }
    }

    .paragraph__wrapper,.subheading__wrapper{
        position: relative;
        // width: 100%;
        margin-top: $global-margin*2;
        padding: 0 $global-padding;
        .page__paragraph{
            // max-width: 50%;
            margin-left: auto;
            font-weight: 500;
        }
        @include breakpoint(medium down){
            padding-left: 0;
        }
    }
    .thumbnails__wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .project-thumbnail{
            // min-width: 200px;
            width: 30%;
            height: 150px;
            // padding-bottom: 56.25%;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            transition: 1s ease-in;
            .image{
                object-fit: cover;
                object-position: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 1s ease-out;
            }
            &:hover{
                .image{
                    transform: scale(1.2);
                }
            }
            @include breakpoint(medium down){
                width: 100%;
                margin-top: $global-margin;
                height: 300px;
            }
        }
    }
    .next-page__wrapper{
        .button__wrapper{
            font-size: 19px;
            color: $black;
            font-weight: 800;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            .svg__wrapper{
                width:25px;
                height: 25px;
                background-color: $primary-color;
                border-radius: 50%;
                margin-left: $global-margin / 2;
                svg{
                    height: 100%;
                    width: 100%;
                    path{
                        fill: $white;
                    }
                }
            }
        }
    }
    @include breakpoint(medium down){
        position: relative;
        top: 0;
        transform: none;
    }
}